@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700;800&family=Orbitron:wght@600&family=Yellowtail&family=Ysabeau+SC:wght@400;600&display=swap");
/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Ysabeau SC', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
